/*
!Theme: Eighties
Author: Chris Kempson (http://chriskempson.com)
License: ~ MIT (or more permissive) [via base16-schemes-source]
Maintainer: @highlightjs/core-team
Version: 2021.09.0
*/
.hljs{display:block;overflow-x:auto;padding:.5em;color:#d3d0c8;background:#2d2d2d}
.hljs::selection,.hljs ::selection{background-color:#515151;color:#d3d0c8}
.hljs-formula,.hljs-params,.hljs-property{}
.hljs-comment{color:#747369}
.hljs-tag{color:#a09f93}
.hljs-subst,.hljs-punctuation,.hljs-operator{color:#d3d0c8}
.hljs-operator{opacity:.7}
.hljs-bullet,.hljs-variable,.hljs-template-variable,.hljs-selector-tag,.hljs-name,.hljs-deletion{color:#f2777a}
.hljs-symbol,.hljs-number,.hljs-link,.hljs-attr,.hljs-variable.constant_,.hljs-literal{color:#f99157}
.hljs-title,.hljs-class .hljs-title,.hljs-title.class_{color:#fc6}
.hljs-strong{font-weight:bold;color:#fc6}
.hljs-code,.hljs-addition,.hljs-title.class_.inherited__,.hljs-string{color:#9c9}
.hljs-built_in,.hljs-doctag,.hljs-quote,.hljs-keyword.hljs-atrule,.hljs-regexp{color:#6cc}
.hljs-function .hljs-title,.hljs-attribute,.ruby .hljs-property,.hljs-title.function_,.hljs-section{color:#69c}
.hljs-type,.hljs-template-tag,.diff .hljs-meta,.hljs-keyword{color:#c9c}
.hljs-emphasis{color:#c9c;font-style:italic}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#d27b53}
.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:bold}
