/*
!Theme: Isotope
Author: Jan T. Sott
License: ~ MIT (or more permissive) [via base16-schemes-source]
Maintainer: @highlightjs/core-team
Version: 2021.09.0
*/
.hljs{display:block;overflow-x:auto;padding:.5em;color:#d0d0d0;background:#000}
.hljs::selection,.hljs ::selection{background-color:#606060;color:#d0d0d0}
.hljs-formula,.hljs-params,.hljs-property{}
.hljs-comment{color:#aaaaaa}
.hljs-tag{color:#d6d6d6}
.hljs-subst,.hljs-punctuation,.hljs-operator{color:#d0d0d0}
.hljs-operator{opacity:.7}
.hljs-bullet,.hljs-variable,.hljs-template-variable,.hljs-selector-tag,.hljs-name,.hljs-deletion{color:#ff0000}
.hljs-symbol,.hljs-number,.hljs-link,.hljs-attr,.hljs-variable.constant_,.hljs-literal{color:#f90}
.hljs-title,.hljs-class .hljs-title,.hljs-title.class_{color:#f09}
.hljs-strong{font-weight:bold;color:#f09}
.hljs-code,.hljs-addition,.hljs-title.class_.inherited__,.hljs-string{color:#3f0}
.hljs-built_in,.hljs-doctag,.hljs-quote,.hljs-keyword.hljs-atrule,.hljs-regexp{color:#0ff}
.hljs-function .hljs-title,.hljs-attribute,.ruby .hljs-property,.hljs-title.function_,.hljs-section{color:#06f}
.hljs-type,.hljs-template-tag,.diff .hljs-meta,.hljs-keyword{color:#c0f}
.hljs-emphasis{color:#c0f;font-style:italic}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#30f}
.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:bold}
