/*
!Theme: Windows 10
Author: Fergus Collins (https://github.com/C-Fergus)
License: ~ MIT (or more permissive) [via base16-schemes-source]
Maintainer: @highlightjs/core-team
Version: 2021.09.0
*/
.hljs{display:block;overflow-x:auto;padding:.5em;color:#ccc;background:#0c0c0c}
.hljs::selection,.hljs ::selection{background-color:#535353;color:#ccc}
.hljs-formula,.hljs-params,.hljs-property{}
.hljs-comment{color:#767676}
.hljs-tag{color:#b9b9b9}
.hljs-subst,.hljs-punctuation,.hljs-operator{color:#ccc}
.hljs-operator{opacity:.7}
.hljs-bullet,.hljs-variable,.hljs-template-variable,.hljs-selector-tag,.hljs-name,.hljs-deletion{color:#e74856}
.hljs-symbol,.hljs-number,.hljs-link,.hljs-attr,.hljs-variable.constant_,.hljs-literal{color:#c19c00}
.hljs-title,.hljs-class .hljs-title,.hljs-title.class_{color:#f9f1a5}
.hljs-strong{font-weight:bold;color:#f9f1a5}
.hljs-code,.hljs-addition,.hljs-title.class_.inherited__,.hljs-string{color:#16c60c}
.hljs-built_in,.hljs-doctag,.hljs-quote,.hljs-keyword.hljs-atrule,.hljs-regexp{color:#61d6d6}
.hljs-function .hljs-title,.hljs-attribute,.ruby .hljs-property,.hljs-title.function_,.hljs-section{color:#3b78ff}
.hljs-type,.hljs-template-tag,.diff .hljs-meta,.hljs-keyword{color:#b4009e}
.hljs-emphasis{color:#b4009e;font-style:italic}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#13a10e}
.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:bold}
