/*
!Theme: Windows High Contrast
Author: Fergus Collins (https://github.com/C-Fergus)
License: ~ MIT (or more permissive) [via base16-schemes-source]
Maintainer: @highlightjs/core-team
Version: 2021.09.0
*/
.hljs{display:block;overflow-x:auto;padding:.5em;color:#d6d6d6;background:#000}
.hljs::selection,.hljs ::selection{background-color:#383838;color:#d6d6d6}
.hljs-formula,.hljs-params,.hljs-property{}
.hljs-comment{color:#545454}
.hljs-tag{color:#a2a2a2}
.hljs-subst,.hljs-punctuation,.hljs-operator{color:#d6d6d6}
.hljs-operator{opacity:.7}
.hljs-bullet,.hljs-variable,.hljs-template-variable,.hljs-selector-tag,.hljs-name,.hljs-deletion{color:#fc5454}
.hljs-symbol,.hljs-number,.hljs-link,.hljs-attr,.hljs-variable.constant_,.hljs-literal{color:#929000}
.hljs-title,.hljs-class .hljs-title,.hljs-title.class_{color:#fcfc54}
.hljs-strong{font-weight:bold;color:#fcfc54}
.hljs-code,.hljs-addition,.hljs-title.class_.inherited__,.hljs-string{color:#54fc54}
.hljs-built_in,.hljs-doctag,.hljs-quote,.hljs-keyword.hljs-atrule,.hljs-regexp{color:#54fcfc}
.hljs-function .hljs-title,.hljs-attribute,.ruby .hljs-property,.hljs-title.function_,.hljs-section{color:#5454fc}
.hljs-type,.hljs-template-tag,.diff .hljs-meta,.hljs-keyword{color:#fc54fc}
.hljs-emphasis{color:#fc54fc;font-style:italic}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#00ff00}
.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:bold}
